<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ru" xml:lang="ru">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="index.css" />
<title>Паспорт абитуриента</title>
</head>

<body>
    <div class="content">
        <nav class="debug-nav">
            <label>Test API:</label>
            <ul>
                <li><a href="/users" target="_blank">Users</a></li>
                <li><a href="/passports" target="_blank">Passports</a></li>
                <li><a href="/user" target="_blank">User</a></li>
            </ul>
        </nav>
        <hr>
        <div class="applicant-passport">
            <span>Паспорт</span>
            <form id='passport-form' action="postdata" method="post">
                <div class="image-uploader">
                    <label>Фото</label>
                    <label for="file" id="drop-area">
                        <input type="file" accept="image/*" id="file" name="file" hidden>
                        <div id="img-view">
<!--                            <img src="assets/icon.png">-->
                            <p>Drag and drop or click here to upload photo</p>
                        </div>
                    </label>
                </div>
                <div class="applicant-editor">
                    <div class="photo-editor">

                    </div>
                    <div class="status-editor">

                    </div>
                    <!-- lName, fName, pName -->
                    <div class="form-row">
                        <div class="flex">
                            <label for="last_name" class="required">Фамилия</label>
                            <input id="last_name" name="last_name" type="text" max="" required>
                        </div>
                        <div class="flex">
                            <label for="first_name" class="required">Имя</label>
                            <input id="first_name" name="first_name" type="text" required>
                        </div>
                        <div class="flex">
                            <label for="patronymic">Отчество</label>
                            <input id="patronymic" name="patronymic" type="text">
                        </div>
                    </div>
                    <!-- Sex, Bitrhday, Citizenship -->
                    <div class="form-row">
                        <div class="flex">
                            <label for="sex" class="required">Пол</label>
                            <select id="sex" name="sex">
                                <option hidden disabled selected value></option>
                                <option value="m">Муж</option>
                                <option value="f">Жен</option>
                            </select>
                        </div>
                        <div class="flex">
                            <label for="birthday" class="required">Дата рождения</label>
                            <input id="birthday" name="birthday" type="date" required >
<!--                            <input id="birthday" name="birthday" type="date" required pattern="\d{2}.\d{2}.\d{4}" />-->
                        </div>
                        <div class="flex">
                            <label for="citizenship" class="required">Гражданство</label>
                            <input id="citizenship" name="citizenship" type="text" required>
                        </div>
                    </div>
                    <!-- Birthplace -->
                    <div class="form-row">
                        <div class="flex">
                            <label for="birthplace" class="required">Место рождения</label>
                            <label for="birthplace" class="small">
                                Место рождения (заполнять <b>строго</b> как в паспорте)
                            </label>
                            <textarea id="birthplace" name="birthplace" required></textarea>
                        </div>
                    </div>
                    <!-- Doc type, Series, Number -->
                    <div class="form-row">
                        <div class="flex">
                            <label for="doctype" class="required">Тип документа</label>
                            <input id="doctype" name="doctype" type="text" required>
                        </div>
                        <div class="flex">
                            <label for="series" class="required">Серия</label>
                            <input id="series" name="series" type="text" required>
                        </div>
                        <div class="flex">
                            <label for="number" class="required">Номер</label>
                            <input id="number" name="number" type="text" required>
                        </div>
                    </div>
                    <!-- Receipt date, Code -->
                    <div class="form-row">
                        <div class="flex">
                            <label for="receipt_date" class="required">Дата выдачи</label>
                            <input id="receipt_date" name="receipt_date" type="date" required>
<!--                            <input id="receipt_date" name="receipt_date" type="date" required pattern="\d{2}.\d{2}\d{4}">-->
                        </div>
                        <div class="flex">
                            <label for="division_code">Код подразделения</label>
                            <input id="division_code" name="division_code" type="text">
                        </div>
                    </div>
                    <!-- Received by -->
                    <div class="form-row">
                        <div class="flex">
                            <label for="issued_by" class="required">Кем выдан</label>
                            <label for="issued_by" class="small">
                                Кем выдан документ (заполнять <b>строго</b> как в паспорте)
                            </label>
                            <textarea id="issued_by" name="issued_by" required></textarea>
                        </div>
                    </div>
                    <!-- Comment -->
                    <hr>
                    <div class="form-row">
                        <div class="flex">
                            <label for="comment">Комментарий к абитуриенту</label>
                            <textarea id="comment" name="comment"></textarea>
                        </div>
                    </div>
                    <div class="form-row">
                        <input class="form-submit" type="submit" value="Принято">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="index.js"></script>
</body>

</html>
